<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
</head>

<body>
    <section class="experiencia">
        <a href="../index.html" class="boton-volver rs-m">← Volver</a>
        <h2>Experiencia</h2>
        <div class="linea-tiempo">
            <div class="evento">
                <img src="/assets/img/pcbox.png" alt="Logo PCBOX">
                <h3>Técnico de Sistemas Microinformáticos y Redes</h3>
                <p>PCBOX</p>
                <span>Duración: 4 meses</span>
                <p>Me encargué de la reparación de ordenadores, instalación de sistemas operativos y mantenimiento de hardware y software.</p>
            </div>
            <div class="linea"></div>
            <div class="evento">
                <img src="/assets/img/centeco.png" alt="Logo Centeco">
                <h3>Desarrolladora de Aplicaciones Web</h3>
                <p>Centeco</p>
                <span>Duración: 4 meses</span>
                <p>Desarrollé la nueva página web de la empresa usando WordPress y PHP. También creé una landing page con Angular y Node.js.</p>
                <a href="https://web.centeco.es" target="_blank">Ver sitio web</a>
            </div>
        </div>
    </section>
</body>

</html>