<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
</head>

<body>
    <section id="proyectos">
        <a href="../index.html" class="boton-volver rs-m">← Volver</a>
        <h2>Proyectos</h2>

        <!-- Contenedor de la rejilla -->
        <div class="grid-proyectos">
            <!-- Proyecto 1 -->
            <div class="proyecto">
                <img src="/assets/img/novamanga.png" alt="Nova Manga">
                <h3>Nova Manga</h3>
                <p>Aplicación web para gestionar y leer mangas en línea, utilizando PHP, MariaDB y Angular.</p>
                <div class="tecnologias-usadas">
                    <span>Angular</span> <span>Symfony</span> <span>MariaDB</span>
                </div>
                <div class="botones">
                    <a href="https://github.com/Aikarubi/nova-manga" class="btn-ver-codigo">Ver código</a>
                    <a href="https://youtu.be/FjjiFQ8UDxQ" class="btn-demo">Ver demo</a>
                </div>
            </div>

            <!-- Proyecto 2 -->
            <div class="proyecto">
                <img src="/assets/img/centecoProyecto.png" alt="Centeco">
                <h3>Centeco</h3>
                <p>Desarrollo de la web corporativa con WordPress y PHP. Diseño moderno y optimizado para SEO.</p>
                <div class="tecnologias-usadas">
                    <span>WordPress</span> <span>PHP</span>
                </div>
                <div class="botones">
                    <a href="http://web.centeco.es" class="btn-ver-sitio">Ver sitio web</a>
                </div>
            </div>

            <!-- Proyecto 3 -->
            <div class="proyecto">
                <img src="/assets/img/blog.png" alt="Blog de Café">
                <h3>Blog de Café</h3>
                <p>Blog simple creado con HTML y CSS para practicar posicionamiento con Grid y Flexbox.</p>
                <div class="tecnologias-usadas">
                    <span>HTML</span> <span>CSS</span>
                </div>
                <div class="botones">
                    <a href="https://github.com/Aikarubi/blog-de-cafe" class="btn-ver-codigo">Ver código</a>
                    <a href="https://blogdecafe-aikarubi.netlify.app/" class="btn-ver-sitio">Ver sitio web</a>
                </div>
            </div>

            <!-- Proyecto 4 -->
            <div class="proyecto">
                <img src="/assets/img/freelance.png" alt="Web Freelance">
                <h3>Web Freelance</h3>
                <p>Web estilo freelance creada con HTML y CSS para practicar posicionamiento con Grid y Flexbox.</p>
                <div class="tecnologias-usadas">
                    <span>HTML</span> <span>CSS</span>
                </div>
                <div class="botones">
                    <a href="https://github.com/Aikarubi/DesingFreelancer" class="btn-ver-codigo">Ver código</a>
                    <a href="https://desingfreelancer-aikarubi.netlify.app/" class="btn-ver-sitio">Ver sitio web</a>
                </div>
            </div>

            <!-- Proyecto 5 -->
            <div class="proyecto">
                <img src="/assets/img/festival.png" alt="Festival de Música">
                <h3>Festival de Música</h3>
                <p>Web sobre un festival de música creado con HTML y SCSS para practicar estructuración de archivos con Gulp.js.</p>
                <div class="tecnologias-usadas">
                    <span>HTML</span> <span>SCSS</span> <span>JavaScript</span> <span>Gulp.js</span>
                </div>
                <div class="botones">
                    <a href="https://github.com/Aikarubi/festival-de-musica" class="btn-ver-codigo">Ver código</a>
                    <a href="https://festival-de-musica-aikarubi.netlify.app/" class="btn-ver-sitio">Ver sitio web</a>
                </div>
            </div>

            <!-- Proyecto 6 -->
            <div class="proyecto">
                <img src="/assets/img/store.png" alt="Frontend Store">
                <h3>Frontend Store</h3>
                <p>Web de tienda online creada con HTML y CSS para practicar posicionamiento con Grid y Flexbox.</p>
                <div class="tecnologias-usadas">
                    <span>HTML</span> <span>CSS</span>
                </div>
                <div class="botones">
                    <a href="https://github.com/Aikarubi/FrontendStore" class="btn-ver-codigo">Ver código</a>
                    <a href="https://github.com/Aikarubi/FrontendStore" class="btn-ver-sitio">Ver sitio web</a>
                </div>
            </div>
        </div>
    </section>

    <script src="/assets/js/main.js"></script>
</body>

</html>
