<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">
</head>

<body>
    <section class="sobre-mi">
        <div class="sobre-mi__contenedor">
            <div class="sobre-mi__perfil">
                <a href="../index.html" class="boton-volver">← Volver</a>
                <!-- Foto e Información -->
                <div class="sobre-mi__imagen">
                    <img src="/assets/img/yo.jpg" alt="Foto de Nerea Rubio">
                </div>

                <h1>Nerea Rubio</h1>
            </div>
            <div class="sobre-mi__descripcion">
                <p>
                    Soy una desarrolladora web Fullstack junior con pasión por la tecnología y los retos. Me encanta
                    aprender y crear soluciones que combinan funcionalidad con un diseño atractivo. Aunque a veces
                    me cueste, persisto hasta lograrlo.
                </p>
            </div>

            <div class="sobre-mi__informacion">
                <!-- Intereses -->
                <div class="sobre-mi__intereses">
                    <h2>Mis Intereses</h2>
                    <ul>
                        <li>📚 Leer</li>
                        <li>🎮 Videojuegos</li>
                        <li>✈️ Viajar</li>
                        <li>🐾 Animales</li>
                    </ul>
                </div>

                <!-- Tecnologías -->
                <div class="sobre-mi__tecnologias">
                    <h2>Tecnologías Principales</h2>
                    <div class="tecnologias__lista">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>JavaScript</span>
                        <span>Angular</span>
                        <span>Symfony</span>
                        <span>PHP</span>
                    </div>
                </div>
            </div>
    </section>

</body>

</html>