<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body style="background-image: linear-gradient(to top, lightgrey 0%, #d9d9d9 100%);">
    <div class="sobre-mi">
        <a href="../index.html" class="boton-volver">← Volver</a>

        <!-- Bloque Imagen -->
        <div class="bloque-imagen">
            <img src="yo.jpg" alt="Imagen sobre mí" class="imagen-sobre-mi">
        </div>

        <!-- Bloque Texto -->
        <div class="bloque-texto">
            <h1>Nerea Rubio</h1>
            <p class="descripcion">Soy Nerea, una desarrolladora web Fullstack junior apasionada por la tecnología y la creación de soluciones eficientes. Me encanta aprender continuamente y enfrentarme a nuevos retos, ya que creo que cada desafío es una oportunidad para mejorar mis habilidades. Aunque a veces pueda resultar complicado, siempre persisto, poniendo todo mi esfuerzo para superar cualquier obstáculo y lograr resultados de calidad.</p>

            <!-- Sección Intereses -->
            <div class="intereses">
                <h2>Intereses</h2>
                <p>Me encanta leer, jugar videojuegos, viajar y pasar tiempo con los animales.</p>
            </div>

            <!-- Sección Tecnologías -->
            <div class="tecnologias">
                <div class="tecnologias-lista">
                    <span class="tecnologia-item">HTML</span>
                    <span class="tecnologia-item">CSS</span>
                    <span class="tecnologia-item">Symfony</span>
                    <span class="tecnologia-item">Angular</span>
                    <span class="tecnologia-item">Git</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
