:root {
    --fuenteHeading: 'Exo 2', sans-serif;
    --fuenteParrafos: 'Exo 2', sans-serif;

    --primario: #FF3C5F;
    --primarioHover: #c72e4a;
    --secundario: #9340FF;
    --secundarioHover: #6515ce;
    --terciario: #3ADB93;
    --terciarioHover: #2CAC6F;
    --fondo: #101728;
    --fondoDegradado: #293D70;
    --blanco: #f4f4f4;
    --blancoHover: #ffffff;
    --blancoTransparente: #f4f4f436;
    --negro: #0F1819;
    --negroHover: #050607;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: -webkit-linear-gradient(50deg, #f0f0f0, #d9d9d9);
    background: linear-gradient(50deg, #f0f0f0, #d9d9d9);
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.5rem;
}

img {
    max-width: 100%;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

/* MAIN */

@media (min-width: 768px) {
    .contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        height: 40rem;
        margin-top: 10rem;
    }
}

.contenido_imagen {
    text-align: center;
    border-radius: 50px;
}

/*ENLACES*/

.contenido_enlaces {
    display: grid;
    place-items: center;
    height: 100%;
    gap: 2rem;
}

@media (min-width: 768px) {
    .contenido_enlaces {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        height: 100%;
        padding: 2rem;
    }
}

.enlace {
    background-color: var(--negro);
    color: var(--blanco);
    font-weight: 900;
    text-align: center;
    font-size: 2.2rem;
    padding: 0.8rem;
    text-decoration: none;
    display: inline-block;
    border: 4px solid var(--negro);
    transition: ease 0.5s;

}

@media (min-width: 768px) {
    .enlace {
        font-size: 2.5rem;
        padding: 1rem;
        display: inline-block;
    }
}

.enlace:hover {
    background-color: var(--negroHover);
    color: var(--blancoHover);
    border: 4px solid var(--negroHover);
}

.enlace--primario {
    color: var(--blanco);
    background-color: var(--primario);

    border: 4px solid var(--primario);
}

.enlace--primario:hover {
    background-color: var(--primarioHover);
    color: var(--blancoHover);
    border: 4px solid var(--primarioHover);
}

.enlace--secundario {
    color: var(--blanco);
    background-color: var(--secundario);
    border: 4px solid var(--secundario);
}

.enlace--secundario:hover {
    background-color: var(--secundarioHover);
    color: var(--blancoHover);
    border: 4px solid var(--secundarioHover);
}

.enlace--bordes {
    border: 4px solid var(--negro);
    background-color: transparent;
    color: var(--negro);
}

.enlace--bordes:hover {
    background-color: transparent;
    color: var(--negroHover);
    border: 4px solid var(--negroHover);
}

.enlace-cv {
    background-color: var(--terciario);
    color: var(--blanco);
    border: 4px solid var(--terciario);
}

.enlace-cv:hover {
    background-color: var(--terciarioHover);
    color: var(--blanco);
    border: 4px solid var(--terciarioHover);
}


.enlace--1,
.enlace--2,
.enlace--3 {
    width: 30rem;
}

@media (min-width: 768px) {
    .enlace--1 {
        width: 20rem;
    }

    .enlace--2 {
        width: 25rem;
    }

    .enlace--3 {
        width: 30rem;
    }
}

/*TEXTO*/

.contenido-texto {
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .contenido-texto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        margin-top: 4rem;
    }
}

.texto {
    color: var(--negro);
}

/* Color Verde: 58, 219, 147, 1, Color Morado: 147, 64, 255, 1 */
svg {
    margin-bottom: -2rem;
}

/* SOBRE MI */
/*
@media (min-width: 768px) {
    .sobre-mi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        align-items: center;
        height: 89rem;
        padding: 2rem;
        position: relative;
    }
}*/

.boton-volver {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background: linear-gradient(90deg, #081AA2, #8D56B8);
    color: var(--blanco);
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 5px;
    text-decoration: none;
    background-size: 200%;
    transition: background-position 1.5s ease;
}

.boton-volver:hover {
    background-position: right;
}

/* Contenedor Principal */
.sobre-mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    box-sizing: border-box;
    width: 100%;
    height: 100vh
}

/* Contenedor Secundario */
.sobre-mi__contenedor {
    width: 80%; /* Mejor uso del espacio */
    max-width: 1200px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: 3rem;
    text-align: center;

}

/* Perfil (Foto e Información) */
.sobre-mi__perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; /* Separación entre foto y título */
}

.sobre-mi__imagen img {
    width: 180px;
    height: 180px;
    border-radius: 8%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.sobre-mi__perfil h1 {
    margin-top: 0;
    font-size: 7rem;
    color: var(--negro);
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(37, 0, 245, 0.205);
}

/* Descripción */
.sobre-mi__descripcion p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--negro);
    max-width: 800px;
    margin: 0 auto;
}

/* Intereses y Tecnologías - Distribuidos en Columnas */
.sobre-mi__informacion {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

/* Intereses */
.sobre-mi__intereses {
    width: 45%;
}

.sobre-mi__intereses h2 {
    font-size: 2.5rem;
    color: var(--negro);
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(37, 0, 245, 0.205);
}

.sobre-mi__intereses ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem; /* Separación entre los elementos */
    list-style: none;
    padding: 0;
}

.sobre-mi__intereses li, .tecnologias__lista span {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.05);
}

/* Tecnologías */
.sobre-mi__tecnologias {
    width: 45%;
}

.sobre-mi__tecnologias h2 {
    font-size: 2.5rem;
    color: var(--negro);
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(37, 0, 245, 0.205);
}

.tecnologias__lista {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas por fila */
    gap: 1.5rem;
}

/* TECNOLOGIAS */

.tecnologias h2,
.tecnologias h3 {
    text-align: center;
    color: var(--negro);
    text-shadow: 0 2px 5px rgba(37, 0, 245, 0.205);
    padding-top: 4rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {

    .tecnologias h2,
    .tecnologias h3 {
        padding-top: 0;
        font-size: 3rem !important;
    }
}

.tecnologias .contenedor {
    max-width: 1100px;
    height: 100vh;
    margin: 0 auto;
    padding: 2rem;
    color: var(--blanco);
}

@media (min-width: 768px) { 
    .tecnologias .contenedor {
        max-width: 1200px;
        padding: 3rem;
    }
}

.grid-tecnologias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

@media (min-width: 768px) {
    .grid-tecnologias {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 3rem;
    }
}

.tecnologia {
    background-color: var(--negro);
    padding: 1.5rem;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 150px;
}

@media (min-width: 768px) {
    .tecnologia {
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        max-width: 180px;
    }
}

.tecnologia img {
    max-width: 60px;
    margin-bottom: 1rem;
}

@media (min-width: 768px) { 
    .tecnologia img {
        max-width: 80px;
        margin-bottom: 1.5rem;
    }
}

.tecnologia p {
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .tecnologia p {
        font-size: 1.6rem;
    }
}

.tecnologia:hover {
    transform: translateY(-5px);
    background-color: var(--negroHover);
}

/* Estilo de separador para cada sección */
.categoria {
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .categoria {
        margin-top: 5rem;
    }
}

.categoria h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.categoria h3::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: rgba(17, 0, 116, 0.334);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* EXPERIENCIA */
.experiencia {
    padding: 4rem 2rem;
    text-align: center;
    height: 100vh;
}

.experiencia h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--negro);
    text-shadow: 0 2px 5px rgba(37, 0, 245, 0.205);
}

/* Contenedor de línea de tiempo */
.linea-tiempo {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
    position: relative;
}

/* Cada evento (card) de la experiencia */
.evento {
    background-color: #222222ec;
    border-radius: 15px;
    padding: 2.5rem;
    width: 400px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
}

.evento:hover {
    transform: scale(1.05);
}

/* Imagen de la empresa */
.evento img {
    width: 150px;
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Títulos y texto del evento */
.evento h3 {
    font-size: 2.5rem; 
    color: var(--blanco);
    margin-bottom: 0.5rem;
}

.evento p {
    font-size: 1.5rem; 
    color: whitesmoke;
    margin-bottom: 1.5rem;
}

.evento span {
    font-size: 1.3rem;
    display: block;
    color: var(--terciario);
    margin-bottom: 1.5rem;
}

/* Estilo para el enlace */
.evento a {
    color: var(--terciario);
    font-size: 1.3rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.evento a:hover {
    color: var(--terciarioHover);
}

/* Estilo para la línea vertical entre las tarjetas */
.linea {
    width: 4px;
    background-color: var(--terciario);
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .linea-tiempo {
        flex-direction: column;
        align-items: center;
    }
    
    .evento {
        width: 100%;
    }
    
    .linea {
        display: none;
    }
}

/*PROYECTOS*/
#proyectos {
    padding: 2rem;
    text-align: center;
    max-width: 1200px; /* Limita el ancho de la sección */
    margin: 0 auto; /* Centra la sección */
}

.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Ajusta el tamaño mínimo de las tarjetas */
    gap: 3rem; /* Más espacio entre proyectos */
    margin-top: 2rem;
    padding: 0 2rem; /* Añade margen interno a los lados */
}

.proyecto {
    background-color: #222222ec;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más notoria */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1rem; /* Añade espacio interno dentro de cada tarjeta */
}

.proyecto:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* Realza la sombra al hacer hover */
}

.proyecto img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--terciario); /* Pequeño detalle decorativo */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.proyecto h3 {
    font-size: 1.8rem;
    margin: 1rem 0;
    color: var(--blanco);
}

.proyecto p {
    padding: 0 1rem;
    margin: 0 0 1rem;
    font-size: 1.2rem;
    color: var(--blanco);
    line-height: 1.6; /* Mejor legibilidad */
}

.tecnologias-usadas {
    padding: 0 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* Más espacio entre etiquetas */
}

.tecnologias-usadas span {
    background-color: var(--terciarioHover);
    color: var(--blanco);
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    font-size: 1.2rem;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 1.5rem; /* Más espacio entre botones */
    margin-top: 1rem;
}

.botones a {
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--terciario);
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botones a:hover {
    background-color: var(--terciarioHover);
    transform: scale(1.05); /* Efecto sutil de aumento */
}

/*CONTACTO*/

#contacto {
    padding: 6rem 2rem;
    background: -webkit-linear-gradient(50deg, #f0f0f0, #d9d9d9);
    background: linear-gradient(50deg, #f0f0f0, #d9d9d9);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.contact-container {
    display: flex;
    flex-direction: row;
    background: var(--tarjetaHover);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
    overflow: hidden;
}

.contact-info {
    background: var(--primario);
    padding: 4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blanco);
    font-size: 1.5rem; 
}

.contact-info h2 {
    font-size: 3.5rem; 
    margin-bottom: 2rem;
}

.contact-info p {
    font-size: 1.7rem; 
    line-height: 1.8;
}

.contact-form {
    flex: 1;
    padding: 4rem;
    background: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    position: relative;
    margin-bottom: 2rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 2rem; 
    border: 2px solid var(--blancoHover);
    border-radius: 5px;
    background: none;
    font-size: 2rem; 
    outline: none;
    color: var(--primario);
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--primarioHover);
}

.form-group label {
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
    font-size: 1.7rem;
    color: var(--gris);
    transition: 0.3s ease;
    pointer-events: none;
}

.form-group input:focus ~ label,
.form-group textarea:focus ~ label,
.form-group input:not(:placeholder-shown) ~ label,
.form-group textarea:not(:placeholder-shown) ~ label {
    top: -0.7rem;
    left: 1rem;
    background: var(--blanco);
    padding: 0 0.5rem;
    font-size: 1.5rem; 
    color: var(--primario);
}

.btn-enviar {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 2rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 100%;
}

.btn-enviar:hover {
    background-color: var(--primarioHover);
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        text-align: center;
        padding: 3rem;
    }

    .contact-form {
        padding: 3rem;
    }

    .btn-enviar {
        font-size: 1.8rem; 
    }
}
